In [1]:
import pandas as pd
import numpy as np

dropbox_path = r'C:\Users\ed\Dropbox\Ed\Ed Uni work\EME\Data\Original Data\Large_Index_Data.xlsx'

In [2]:
index_df = pd.read_excel( dropbox_path, date_parser=True)

In [3]:
index_df.columns

Index(['Name', 'S&P 500 COMPOSITE - PRICE INDEX', 'Name.1',
       'S&P 500 COMPOSITE - PRICE INDEX (~£ )', 'Name.2',
       'US $ TO UK £ (WMR) - EXCHANGE RATE', 'Name.3',
       'FTSE ALL SHARE - PRICE INDEX', 'MSCI UK - PRICE INDEX',
       'FT 30 ORDINARY SHARE - PRICE INDEX', 'FTSE 100 - PRICE INDEX',
       'Name.4', 'DAX 30 PERFORMANCE - PRICE INDEX (~£ )', 'Name.5',
       'MSCI AUSTRALIA - PRICE INDEX (~£ )', 'Name.6',
       'ISRAEL TA 125 - PRICE INDEX (~£ )', 'FTSE ISRAEL - PRICE INDEX (~£ )',
       'Name.7', 'ISRAEL TA 125 - PRICE INDEX (~U$)',
       'FTSE ISRAEL - PRICE INDEX (~U$)', 'Name.8',
       'NASDAQ COMPOSITE - PRICE INDEX', 'NASDAQ 100 - PRICE INDEX', 'Name.9',
       'UK £ TO US $ (WMR) - EXCHANGE RATE'],
      dtype='object')

In [4]:
# ## S&P500 Composite in GBP and FTSE100 in GBP ##


# SP500_df1 = index_df[['Name.1', 'S&P 500 COMPOSITE - PRICE INDEX (~£ )']].copy()
# FTSE100_df1 = index_df[['Name.3', 'FTSE 100 - PRICE INDEX']].copy()
# GBPUSD_df1 = index_df[['Name.2','US $ TO UK £ (WMR) - EXCHANGE RATE']].copy()
# FTSE_ALL_df1 = index_df[['Name.3', 'FTSE ALL SHARE - PRICE INDEX']].copy()
# MSCI_UK_df1 = index_df['Name.3','MSCI UK - PRICE INDEX' ].copy()
# FT30_df1

# #Dropping the first two rows and parsing the date for each index
# SP500_df1 = SP500_df1.loc[2:, :]
# FTSE100_df1 = FTSE100_df1.loc[2:, :]
# SP500_df1['Date'] = pd.to_datetime(SP500_df1['Name'], format = '%Y/%m/%d')
# FTSE100_df1['Date'] = pd.to_datetime(FTSE100_df1['Name.3'], format = '%Y/%m/%d')

# #Dropping the Name column
# SP500_df1 = SP500_df1.drop('Name', axis = 1)
# FTSE100_df1 = FTSE100_df1.drop('Name.3', axis = 1)

# #Removing observations that are NaN. (That is, observations from before the FTSE existed that are in the FTSE index)
# FTSE100_df1 = FTSE100_df1.dropna()
# SP500_df1 = SP500_df1.dropna()


# #Performing an 'inner' merge, this means we'll lose observations for the longer dataset. We'll also lose any observations that
# #occur in one index but not another - I think this shouldn't be a problem as both indices should just be jointly missing
# #weekends but need to check. TODO: Check date observations actually match.
# joint_index_1 = SP500_df1.merge(how='inner', right = FTSE100_df1, on = 'Date')

# #Rearranging column order
# joint_index_1 = joint_index_1[['Date','S&P 500 COMPOSITE - PRICE INDEX (~£ )','FTSE 100 - PRICE INDEX' ]]
# joint_index_1.head()

# #Saving to Excel
# #joint_index_1.to_excel(r'E:\EME Data\Clean Data\Indices\SP500 FTSE100 GBP.xlsx')

In [5]:
def index_grabber(data, name, index):
    '''
    Cleaning the excel spreadsheet by ensuring each date matches the correct index and collating into one dataframe
    
    '''
    # finding specific index
    dataframe = data[[ name, index]].copy()
    
    # Dropping first two rows as they aren't actual observations but titles and parsing dates
    dataframe = dataframe.loc[2:, :]
    dataframe['Date'] = pd.to_datetime(dataframe[name], format = '%Y/%m/%d')
    
    # Removing the now irrelevant name column and dropping any empty rows at the bottom of the dataframe from mismatched index
    # length
    dataframe = dataframe.drop( name, axis = 1)
    dataframe = dataframe.loc[dataframe['Date'].notnull()]
    dataframe = dataframe.reset_index(drop=True)
    return dataframe

def indice_merger(*args):
    
    '''
    First create a daterange from the very earliest date in the indices provided to the last. Then merge all the indices
    to this date dataframe
       
    '''
    first_dates = []
    last_dates = []
    for arg in args:
        first_date = arg.loc[0, 'Date']
        first_dates = first_dates + [first_date]
        
        last_date = arg.loc[ len(arg['Date']) - 1, 'Date']
        last_dates = last_dates + [last_date]

    date_range = pd.date_range( start = min(first_dates), end = max(last_dates), frequency = 'D')
    # print(min(first_dates), max(last_dates))
    joint_df = pd.DataFrame(date_range, columns = ['Date'])
    
    for arg in args:
        joint_df = joint_df.merge(how = 'left', right = arg, on = 'Date')
    return joint_df

In [6]:
FTSE100 = index_grabber(index_df,index  = 'FTSE 100 - PRICE INDEX', name = 'Name.3' )
FTSEALL = index_grabber(index_df, index = 'FTSE ALL SHARE - PRICE INDEX', name = 'Name.3')
SP500 = index_grabber(index_df, index ='S&P 500 COMPOSITE - PRICE INDEX (~£ )', name ='Name.1'  )
MSCI_UK = index_grabber(index_df, index = 'MSCI UK - PRICE INDEX', name = 'Name.3')
FT30 = index_grabber(index_df, index ='FT 30 ORDINARY SHARE - PRICE INDEX', name = 'Name.3' )
DAX30 = index_grabber(index_df, index ='DAX 30 PERFORMANCE - PRICE INDEX (~£ )', name = 'Name.4')
MSCI_AUS = index_grabber(index_df, index ='MSCI AUSTRALIA - PRICE INDEX (~£ )', name = 'Name.5' )
ISRAEL_TA_GBP = index_grabber(index_df, index ='ISRAEL TA 125 - PRICE INDEX (~£ )', name ='Name.6' )
ISRAEL_FTSE_GBP = index_grabber(index_df, index = 'FTSE ISRAEL - PRICE INDEX (~£ )', name = 'Name.6')
NASDAQ_COMP = index_grabber(index_df, index ='NASDAQ COMPOSITE - PRICE INDEX', name = 'Name.8' )
NASDAQ_100 = index_grabber(index_df, index = 'NASDAQ 100 - PRICE INDEX', name = 'Name.8')
GBP_USD = index_grabber(index_df, index ='UK £ TO US $ (WMR) - EXCHANGE RATE', name = 'Name.9' )

In [7]:
merged = indice_merger(FTSE100,
                       FTSEALL,
                       MSCI_UK,
                       FT30,
                       DAX30,
                       MSCI_AUS,
                       ISRAEL_TA_GBP,
                       ISRAEL_FTSE_GBP,
                       NASDAQ_COMP,
                       NASDAQ_100,
                       GBP_USD)
merged

,Date,FTSE 100 - PRICE INDEX,FTSE ALL SHARE - PRICE INDEX,MSCI UK - PRICE INDEX,FT 30 ORDINARY SHARE - PRICE INDEX,DAX 30 PERFORMANCE - PRICE INDEX (~£ ),MSCI AUSTRALIA - PRICE INDEX (~£ ),ISRAEL TA 125 - PRICE INDEX (~£ ),FTSE ISRAEL - PRICE INDEX (~£ ),NASDAQ COMPOSITE - PRICE INDEX,NASDAQ 100 - PRICE INDEX,UK £ TO US $ (WMR) - EXCHANGE RATE
0,1957-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
1,1957-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
2,1957-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1957-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1957-02-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
5,1957-02-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
6,1957-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
7,1957-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
8,1957-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
9,1957-02-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1957-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1957-02-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
12,1957-02-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
13,1957-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
14,1957-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
15,1957-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
16,1957-02-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1957-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1957-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
19,1957-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
20,1957-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
21,1957-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
22,1957-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
23,1957-02-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1957-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1957-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
26,1957-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
27,1957-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
28,1957-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35746
29,1957-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35746
...,...,...,...,...,...,...,...,...,...,...,...,...
22183,2017-10-26,7486.5,4111.4,2169.16,3241.4,11672.2,695.534,282.843,82.82,6556.77,6037.87,0.75939
22184,2017-10-27,7505.03,4120.21,2175.35,3245.5,11675.7,694.984,284.12,82.81,6701.26,6213.47,0.76266
22185,2017-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22186,2017-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22187,2017-10-30,7487.81,4114.94,2170.37,3242.2,11658.6,694.611,282.733,82.53,6698.96,6227.59,0.75789
22188,2017-10-31,7493.08,4117.69,2171.2,3242.4,11605.6,687.938,281.325,82.62,6727.67,6248.56,0.75304
22189,2017-11-01,7487.96,4120.01,2169.59,3225.7,11800.5,693.025,282.63,83.02,6716.53,6248.65,0.75438
22190,2017-11-02,7555.32,4151.7,2189.64,3241.8,12007.5,706.652,284.994,82.54,6714.94,6236.39,0.76529
22191,2017-11-03,7560.35,4156.95,2190.94,3245.6,11983.4,703.339,284.163,82.4,6764.44,6295.58,0.76526
22192,2017-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22193,2017-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22194,2017-11-06,7562.28,4156.41,2191.42,3244.3,11892.3,700.239,283.216,81.98,6786.44,6313.61,0.76208
22195,2017-11-07,7513.11,4130.47,2177.42,3223.1,11787.8,704.572,281.556,80.88,6767.78,6320.78,0.76106
22196,2017-11-08,7529.72,4137.5,2181.86,3228.1,11834.7,710.629,282.319,81.22,6789.12,6345.81,0.76333
22197,2017-11-09,7484.1,4108.39,2168.07,3196.2,11682.4,712.143,280.163,80.32,6750.05,6312.21,0.76231
22198,2017-11-10,7432.99,4084.05,2153.22,3181.1,11580.4,705.74,277.144,79.16,6750.94,6309.07,0.7564
22199,2017-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22200,2017-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22201,2017-11-13,7415.18,4068.12,2147.94,3159.3,11631.7,706.957,278.975,79.98,6757.6,6316.18,0.76272
22202,2017-11-14,7414.42,4069.09,2147.14,3159.2,11679.3,698.241,278.258,80.06,6737.87,6293.64,0.76234
22203,2017-11-15,7372.61,4044.62,2135.31,3138.2,11634,688.136,275.736,79.5,6706.21,6258.36,0.75973
22204,2017-11-16,7386.94,4056.4,2138.68,3150.4,11640.7,688.833,277.603,80.43,6793.29,6339.14,0.75789
22205,2017-11-17,7380.68,4051.78,2136.47,3146.1,11596.2,686.078,278.342,80.48,6782.79,6314.51,0.75743
22206,2017-11-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22207,2017-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22208,2017-11-20,7389.46,4058.05,2139.04,3146.5,11568,682.384,277.517,81.1,6790.71,6308.61,0.75398
22209,2017-11-21,7411.34,4070.45,2145.76,3149.4,11671.1,688.213,279.21,81.29,6862.48,6378.63,0.75592
22210,2017-11-22,7419.02,4076.76,2149.51,3150.2,11548.2,688.295,278.736,81.38,6867.36,6386.12,0.75281
22211,2017-11-23,7417.24,4075.43,2149,3152.6,11586.1,691.245,281.197,82.75,6867.36,6386.12,0.75208
22212,2017-11-24,7409.64,4070.2,2145.96,3145.4,11672.9,687.837,280.41,82.52,6889.16,6409.29,0.74878

In [11]:

# merged2 = merged
# merged2.to_csv(r'C:\Users\ed\Dropbox\Ed\Ed Uni work\EME\Data\Clean Data\Indices\All_indices_cleaned_test.csv')
# merged2

,Date,FTSE 100 - PRICE INDEX,FTSE ALL SHARE - PRICE INDEX,MSCI UK - PRICE INDEX,FT 30 ORDINARY SHARE - PRICE INDEX,DAX 30 PERFORMANCE - PRICE INDEX (~£ ),MSCI AUSTRALIA - PRICE INDEX (~£ ),ISRAEL TA 125 - PRICE INDEX (~£ ),FTSE ISRAEL - PRICE INDEX (~£ ),NASDAQ COMPOSITE - PRICE INDEX,NASDAQ 100 - PRICE INDEX,UK £ TO US $ (WMR) - EXCHANGE RATE
0,1957-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
1,1957-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
2,1957-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1957-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1957-02-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
5,1957-02-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
6,1957-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
7,1957-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
8,1957-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
9,1957-02-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1957-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1957-02-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
12,1957-02-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
13,1957-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
14,1957-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
15,1957-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
16,1957-02-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1957-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1957-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
19,1957-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
20,1957-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
21,1957-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
22,1957-02-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
23,1957-02-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1957-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1957-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
26,1957-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
27,1957-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35737
28,1957-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35746
29,1957-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35746
...,...,...,...,...,...,...,...,...,...,...,...,...
22183,2017-10-26,7486.5,4111.4,2169.16,3241.4,11672.2,695.534,282.843,82.82,6556.77,6037.87,0.75939
22184,2017-10-27,7505.03,4120.21,2175.35,3245.5,11675.7,694.984,284.12,82.81,6701.26,6213.47,0.76266
22185,2017-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22186,2017-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22187,2017-10-30,7487.81,4114.94,2170.37,3242.2,11658.6,694.611,282.733,82.53,6698.96,6227.59,0.75789
22188,2017-10-31,7493.08,4117.69,2171.2,3242.4,11605.6,687.938,281.325,82.62,6727.67,6248.56,0.75304
22189,2017-11-01,7487.96,4120.01,2169.59,3225.7,11800.5,693.025,282.63,83.02,6716.53,6248.65,0.75438
22190,2017-11-02,7555.32,4151.7,2189.64,3241.8,12007.5,706.652,284.994,82.54,6714.94,6236.39,0.76529
22191,2017-11-03,7560.35,4156.95,2190.94,3245.6,11983.4,703.339,284.163,82.4,6764.44,6295.58,0.76526
22192,2017-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22193,2017-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22194,2017-11-06,7562.28,4156.41,2191.42,3244.3,11892.3,700.239,283.216,81.98,6786.44,6313.61,0.76208
22195,2017-11-07,7513.11,4130.47,2177.42,3223.1,11787.8,704.572,281.556,80.88,6767.78,6320.78,0.76106
22196,2017-11-08,7529.72,4137.5,2181.86,3228.1,11834.7,710.629,282.319,81.22,6789.12,6345.81,0.76333
22197,2017-11-09,7484.1,4108.39,2168.07,3196.2,11682.4,712.143,280.163,80.32,6750.05,6312.21,0.76231
22198,2017-11-10,7432.99,4084.05,2153.22,3181.1,11580.4,705.74,277.144,79.16,6750.94,6309.07,0.7564
22199,2017-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22200,2017-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22201,2017-11-13,7415.18,4068.12,2147.94,3159.3,11631.7,706.957,278.975,79.98,6757.6,6316.18,0.76272
22202,2017-11-14,7414.42,4069.09,2147.14,3159.2,11679.3,698.241,278.258,80.06,6737.87,6293.64,0.76234
22203,2017-11-15,7372.61,4044.62,2135.31,3138.2,11634,688.136,275.736,79.5,6706.21,6258.36,0.75973
22204,2017-11-16,7386.94,4056.4,2138.68,3150.4,11640.7,688.833,277.603,80.43,6793.29,6339.14,0.75789
22205,2017-11-17,7380.68,4051.78,2136.47,3146.1,11596.2,686.078,278.342,80.48,6782.79,6314.51,0.75743
22206,2017-11-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22207,2017-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22208,2017-11-20,7389.46,4058.05,2139.04,3146.5,11568,682.384,277.517,81.1,6790.71,6308.61,0.75398
22209,2017-11-21,7411.34,4070.45,2145.76,3149.4,11671.1,688.213,279.21,81.29,6862.48,6378.63,0.75592
22210,2017-11-22,7419.02,4076.76,2149.51,3150.2,11548.2,688.295,278.736,81.38,6867.36,6386.12,0.75281
22211,2017-11-23,7417.24,4075.43,2149,3152.6,11586.1,691.245,281.197,82.75,6867.36,6386.12,0.75208
22212,2017-11-24,7409.64,4070.2,2145.96,3145.4,11672.9,687.837,280.41,82.52,6889.16,6409.29,0.74878

In [ ]:
# merged.to_excel(r'C:\Users\ed\Dropbox\Ed\Ed Uni work\EME\Data\Clean Data\Indices\All_indices_cleaned.xls')